{% extends "layout.html" %}
{% load markdownify %}

{% block content %}

{% if not blog.hero_image %}
<header class='intro-header'>
{% else %}
<header class='intro-header' style="background-image: url('{{blog.hero_image.url}}')">
{% endif %}
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='post-heading'>
          <h1>{{ blog.title }}</h1>
          {% if blog.description %}
            <h2 class='subheading'>{{ blog.description }}</h2>
          {% endif %}
          <span class='meta'>Written by
            <a href="#">{{ blog.author.name }}</a>
            on {{ blog.publication_date|date:"d/M/Y" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        {{ blog.body|markdownify|safe }}
      </div>
    </div>
  </div>
</article>
{% endblock %}

