{% load static %}
<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% block title %}
      <title>Contentful Django App</title>
    {% endblock %}

    <link href="{% static '/stylesheets/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static '/stylesheets/clean-blog.css' %}" rel="stylesheet" />
    <link href="{% static '/stylesheets/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    ![endif]-->
  </head>
  <body>
    <nav class='navbar navbar-default navbar-custom navbar-fixed-top'>
      <div class='container-fluid'>
        <div class='navbar-header page-scroll'>
          <button class='navbar-toggle' type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class='sr-only'>Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
          </button>
          <a class='navbar-brand' href="/">Contentful</a>
        </div>

        <div class='collapse navbar-collapse' id="bs-navbar-collapse-1">
          <ul class='nav navbar-nav navbar-right'>
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <hr />

    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
            <ul class='list-inline text-center'>
              <li>
                <a href="https://www.twitter.com/contentful">
                  <span class='fa-stack fa-lg'>
                    <i class='fa fa-circle fa-stack-2x'></i>
                    <i class='fa fa-twitter fa-stack-1x fa-inverse'></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class='copyright text-muted'>Copyright &copy; Contentful 2017</p>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <script src="{% static '/javascripts/jquery.min.js' %}"></script>
  <script src="{% static '/javascripts/bootstrap.min.js' %}"></script>
  <script src="{% static '/javascripts/clean-blog.js' %}"></script>
</html>
